@charset "UTF-8";
/*------------------------------
	reset
------------------------------*/
*,
::before,
::after {
  box-sizing: border-box;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, main, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

header, footer, article, section, aside, main, nav, menu, figure, figcaption {
  display: block;
}

span, small, strong, em, b, i {
  color: inherit;
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

ul,
ol {
  list-style: none;
}

img {
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th {
  text-align: left;
}

input, select {
  vertical-align: middle;
}

input, textarea {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}

q::before,
q::after {
  display: none;
}

/*------------------------------
	base
------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  color: #341e12;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.75;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

a {
  color: #341e12;
  text-decoration: underline;
  transition: all 0.3s;
}

a:hover {
  color: #a88e25;
}

img {
  width: 100%;
  height: auto;
}
img.self-size {
  max-width: 100%;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
  width: 100%;
  border: 0;
  font-family: inherit;
  font-weight: inherit;
}

/*------------------------------
	form parts reset
------------------------------*/
/*各フォーム部品の基本スタイルを上書きします*/
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
  font-family: inherit;
}

input[type=number],
input[type=password] {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
}

/*フォーカス時*/
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus,
input[type=url]:focus,
input[type=search]:focus,
textarea:focus,
select:focus,
input[type=number],
input[type=password] {
  outline: none;
  box-shadow: 0 0 5px rgba(168, 142, 37, 0.7);
}

/*エラー時*/
.is-error input[type=text],
.is-error input[type=email],
.is-error input[type=tel],
.is-error input[type=url],
.is-error input[type=number],
.is-error input[type=password],
.is-error textarea,
.is-error select,
.is-error .select-wrap {
  color: #f7320e;
  border-color: #f7320e;
}

/*select
--------------------------*/
.select-wrap {
  position: relative;
}

.select-wrap::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
}

select::-ms-expand { /*IEでもselectの矢印を消す*/
  display: none;
}

/*radio, checkbox
------------------------------------*/
input[type=radio],
input[type=checkbox] {
  opacity: 0; /*透明にして見えなくする*/
  position: absolute; /*本来の配置から切り離す*/
}

/*クリック範囲*/
input[type=radio] + span,
input[type=checkbox] + span {
  display: inline-block;
  position: relative;
  margin: 0 2em 0 0;
  padding: 0.3em 0.3em 0.3em 2em;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

/*フォーカス時*/
input[type=radio]:focus + span,
input[type=checkbox]:focus + span {
  outline: none;
  box-shadow: 0 0 5px rgba(168, 142, 37, 0.7);
}

/*ラジオボタンスタイル*/
input[type=radio] + span:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1.375em;
  height: 1.375em;
  border: 1px solid #341e12;
  border-radius: 50%;
  line-height: 1;
  background: #fff;
}

/*ラジオボタンチェック印（未選択）*/
input[type=radio] + span:after {
  content: "";
  display: none;
}

/*ラジオボタンチェック印（選択）*/
input[type=radio]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: #341e12;
  line-height: 1;
}

/*チェックボックススタイル*/
input[type=checkbox] + span:before {
  position: absolute;
  top: 0.3em;
  left: 0;
  content: "";
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #341e12;
  background: #fff;
  line-height: 1;
  vertical-align: middle;
}

/*チェックボックス未チェック時*/
input[type=checkbox] + span:after {
  content: "";
  display: none;
}

/*チェックボックスチェック時*/
input[type=checkbox]:checked + span:after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.4em;
  width: 0.5em;
  height: 1em;
  content: "";
  border-bottom: 3px solid #341e12;
  border-right: 3px solid #341e12;
  transform: rotate(45deg);
}

/*------------------------------
  container
------------------------------*/
.container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: content-box;
}

/*------------------------------
  section
------------------------------*/
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.section:not(.section--bg) + section:not(.section--bg) {
  padding-top: 0;
}
.section--bg {
  background-color: #f5efd7;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);
}

/*------------------------------
  grid
------------------------------*/
/* 商品リスト レイアウト 3カラム */
.grid {
  display: grid;
  gap: 20px;
}

/* PC 2カラム */
@media screen and (min-width: 480px) {
  .grid--2col {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* PC 3カラム */
@media screen and (min-width: 480px) {
  .grid--pc3col {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .grid--pc3col {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .grid--pc3col {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* PC 4カラム */
@media screen and (min-width: 480px) {
  .grid--pc4col {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .grid--pc4col {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .grid--pc4col {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* PC 5カラム */
@media screen and (min-width: 480px) {
  .grid--pc5col {
    max-width: 400px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .grid--pc5col {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .grid--pc5col {
    grid-template-columns: repeat(5, 1fr);
  }
}

/*-------------------------------------
animation
-------------------------------------*/
/* fadein */
.anime-fadeinList.up .item {
  transform: translateY(10px);
}

.anime-fadeinList.down .item {
  transform: translateY(-10px);
}

.anime-fadeinList.left .item {
  transform: translateX(40px);
}

.anime-fadeinList.right .item {
  transform: translateX(-40px);
}

.anime-fadeinList .anime-fadeinItem {
  transition: all 1s;
  opacity: 0;
}
.anime-fadeinList.is-inview .anime-fadeinItem {
  opacity: 1;
  transform: none;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(1) {
  transition-delay: 0.1s;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(2) {
  transition-delay: 0.2s;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(3) {
  transition-delay: 0.3s;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(4) {
  transition-delay: 0.4s;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(5) {
  transition-delay: 0.5s;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(6) {
  transition-delay: 0.6s;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(7) {
  transition-delay: 0.7s;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(8) {
  transition-delay: 0.8s;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(9) {
  transition-delay: 0.9s;
}
.anime-fadeinList.is-inview .anime-fadeinItem:nth-child(10) {
  transition-delay: 1s;
}

.anime-fadein.up {
  transform: translateY(10px);
}

.anime-fadein.down {
  transform: translateY(-10px);
}

.anime-fadein.left {
  transform: translateX(40px);
}

.anime-fadein.right {
  transform: translateX(-40px);
}

.anime-fadein {
  transition: all 0.8s;
  opacity: 0;
}
.anime-fadein.is-inview {
  opacity: 1;
  transform: none;
}

/* zoomin */
.anime-zoomin {
  opacity: 0;
}
.anime-zoomin.is-inview {
  -webkit-animation-name: kf-zoomin;
          animation-name: kf-zoomin;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes kf-zoomin {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 0.5;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes kf-zoomin {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  60% {
    opacity: 0.5;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/*------------------------------
	layout
------------------------------*/
/*------------------------------
	component
------------------------------*/
/*------------------------------
  top
------------------------------*/
/*-------------------------------------
  utilities
-------------------------------------*/
/*スクリーンリーダーから隠す*/
.u-visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*幅*/
.u-w10p {
  width: 10%;
}

.u-w20p {
  width: 20%;
}

.u-w30p {
  width: 30%;
}

.u-w40p {
  width: 40%;
}

.u-w50p {
  width: 50%;
}

.u-w60p {
  width: 60%;
}

.u-w70p {
  width: 70%;
}

.u-w80p {
  width: 80%;
}

.u-w90p {
  width: 90%;
}

.u-w100p {
  width: 100%;
}

/*配置*/
.u-ta-r {
  text-align: right;
}

.u-ta-l {
  text-align: left;
}

.u-ta-c {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */